# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
RCSViewer.vcxproj.user
*.log
*.tlog
GeneratedFiles/Debug/moc_MainWindow.cpp
GeneratedFiles/qrc_MainWindow.cpp
GeneratedFiles/ui_MainWindow.h
GeneratedFiles/ui_ViewerWidget.h
Debug/vc120.pdb
GeneratedFiles/Debug/moc_AeroRotateDlg.cpp
GeneratedFiles/ui_AeroRotateDlg.h
GeneratedFiles/ui_PathSettingsDlg.h
GeneratedFiles/Debug/moc_PathSettingsDlg.cpp
