# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
RCSViewer.vcxproj.user
*.log
*.tlog
GeneratedFiles/Debug/moc_MainWindow.cpp
GeneratedFiles/qrc_MainWindow.cpp
GeneratedFiles/ui_MainWindow.h
GeneratedFiles/ui_ViewerWidget.h
Debug/vc120.pdb
GeneratedFiles/Debug/moc_AeroRotateDlg.cpp
GeneratedFiles/ui_AeroRotateDlg.h
GeneratedFiles/ui_PathSettingsDlg.h
GeneratedFiles/Debug/moc_PathSettingsDlg.cpp
GeneratedFiles/Debug/moc_TargetSettingsDlg.cpp
GeneratedFiles/ui_TargetSettingsDlg.h
GeneratedFiles/Debug/moc_RadarBeamRotateDlg.cpp
GeneratedFiles/ui_RadarBeamRotateDlg.h
GeneratedFiles/Debug/moc_videoplayer.cpp
GeneratedFiles/Debug/moc_AddClassRecordDlg.cpp
GeneratedFiles/Debug/moc_AddClassRecordsDlg.cpp
GeneratedFiles/Debug/moc_AddClassTypeDlg.cpp
GeneratedFiles/Debug/moc_AddDirDlg.cpp
GeneratedFiles/Debug/moc_CentralWidget.cpp
GeneratedFiles/Debug/moc_DataType.cpp
GeneratedFiles/Debug/moc_DateInputDlg.cpp
GeneratedFiles/Debug/moc_EditClassTypeDlg.cpp
GeneratedFiles/Debug/moc_FileTreeView.cpp
GeneratedFiles/Debug/moc_MainWindow3D.cpp
GeneratedFiles/Debug/moc_MySqlTableModel.cpp
GeneratedFiles/Debug/moc_NewProjectDlg.cpp
GeneratedFiles/Debug/moc_OBEnumInputDlg.cpp
GeneratedFiles/Debug/moc_OpenProjectDlg.cpp
GeneratedFiles/Debug/moc_SQLSelectDlg.cpp
GeneratedFiles/Debug/moc_ValueInputDlg.cpp
GeneratedFiles/Release/moc_AddClassRecordDlg.cpp
GeneratedFiles/Release/moc_AddClassRecordsDlg.cpp
GeneratedFiles/Release/moc_AddClassTypeDlg.cpp
GeneratedFiles/Release/moc_AddDirDlg.cpp
GeneratedFiles/Release/moc_AddDirDlg.cpp
GeneratedFiles/Release/moc_AeroRotateDlg.cpp
GeneratedFiles/Release/moc_CentralWidget.cpp
GeneratedFiles/Release/moc_DataType.cpp
GeneratedFiles/Release/moc_DateInputDlg.cpp
GeneratedFiles/Release/moc_EditClassTypeDlg.cpp
GeneratedFiles/Release/moc_FileTreeView.cpp
GeneratedFiles/Release/moc_Mainwindow.cpp
GeneratedFiles/Release/moc_MainWindow3D.cpp
GeneratedFiles/Release/moc_MySqlTableModel.cpp
GeneratedFiles/Release/moc_NewProjectDlg.cpp
GeneratedFiles/Release/moc_OBEnumInputDlg.cpp
GeneratedFiles/Release/moc_OpenProjectDlg.cpp
GeneratedFiles/Release/moc_PathSettingsDlg.cpp
GeneratedFiles/Release/moc_RadarBeamRotateDlg.cpp
GeneratedFiles/Release/moc_SQLSelectDlg.cpp
GeneratedFiles/Release/moc_TargetSettingsDlg.cpp
GeneratedFiles/Release/moc_ValueInputDlg.cpp
GeneratedFiles/Release/moc_videoplayer.cpp
GeneratedFiles/ui_AddClassRecordDlg.h
GeneratedFiles/ui_AddClassRecordsDlg.h
GeneratedFiles/ui_AddClassTypeDlg.h
GeneratedFiles/ui_AddDirDlg.h
GeneratedFiles/ui_CentralWidget.h
GeneratedFiles/ui_DateInputDlg.h
GeneratedFiles/ui_EditClassTypeDlg.h
GeneratedFiles/ui_NewProjectDlg.h
GeneratedFiles/ui_OBEnumInputDlg.h
GeneratedFiles/ui_OpenProjectDlg.h
GeneratedFiles/ui_SQLSelectDlg.h
GeneratedFiles/ui_TypeTreeView.h
GeneratedFiles/ui_ValueInputDlg.h
GeneratedFiles/Debug/moc_plot.cpp
GeneratedFiles/Debug/moc_samplingthread.cpp
GeneratedFiles/Release/moc_plot.cpp
GeneratedFiles/Release/moc_samplingthread.cpp
DataManager - 副本.cpp
point_out.dbf
point_out.sbn
point_out.sbx
point_out.shp
point_out.shx
GeneratedFiles/Debug/moc_DisplayFileSelectDlg.cpp
GeneratedFiles/Release/moc_DisplayFileSelectDlg.cpp
GeneratedFiles/ui_DisplayFileSelectDlg.h
GeneratedFiles/Debug/moc_SetPathDlg.cpp
GeneratedFiles/Release/moc_SetPathDlg.cpp
GeneratedFiles/ui_SetPathDlg.h
GeneratedFiles/Release/moc_PlotRangeDlg.cpp
GeneratedFiles/ui_PlotRangeDlg.h
GeneratedFiles/Debug/moc_PlotRangeDlg.cpp
gps_rcs_files_read - 副本.cpp
gps_rcs_files_read - 副本.h
GeneratedFiles/ui_SearchGlobalDlg.h
GeneratedFiles/Debug/moc_SearchGlobalDlg.cpp
GeneratedFiles/Release/moc_SearchGlobalDlg.cpp
